# -----------------------------
# 📦 Package & Build
# -----------------------------
node_modules/
dist/
dist-ssr/
*.local

# -----------------------------
#  Logs
# -----------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------------------
# 🔐 Environment Variables
# -----------------------------
.env
.env.*    # .env.local, .env.production 등 -> 백엔드 주소, API 키 등이 들어갈 수 있으니 꼭 무시해야 함

# -----------------------------
# 💻 Editor & IDE
# -----------------------------
.vscode/*
!.vscode/extensions.json  # 팀 공용 확장 설정은 예외
.idea/
.DS_Store

# -----------------------------
# 🧪 Visual Studio / Windows
# -----------------------------
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*storybook.log
